.lead {
  display: flex;
  margin: 0 auto;
  max-width: 984px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56px;


}

@media (max-width: 1024px){
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media all and (max-width: 375px) {
  .lead {
    max-width: 100%;
  }
}
