.lead__image {
  margin: 0;
  max-width: 100%;
  object-fit: cover;
  padding-top: 64px;
}

@media screen and (max-width: 1100px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media screen and (max-width: 375px) {
  .lead__image {
    padding-top: 40px;
  }
}
