.place__coments {
  display: grid;
  row-gap: 26px;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}

@media screen and (max-width: 1000px) {
  .place__coments {
    row-gap: 25px;
  }
}

@media all and (max-width: 600px) {
  .place__coments {
    padding: 0 16px;
  }
}
