.intro {
  display: flex;
  margin: 0;
  flex-direction: column;
  max-width: 984px;
  padding-top: 92px;
  padding-left: 148px;
  flex-direction: column;
  align-self: flex-start;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-top: 88px;
    max-width: 690px;
    padding-left: 48px;

  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    max-width: 768px;
    padding-left: 24px;

  }
}

@media all and (max-width: 320px) {
  .intro {
    padding-top: 64px;
    max-width: 288px;
    padding-left: 16px;
  }
}
