.header__lang-links {
  display: flex;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  list-style: none;
  gap: 18px;
  flex-direction: row;
  justify-content: end;
  padding-bottom: 6px;
}


@media all and (max-width: 500px) {
  .header__lang-link {
    padding-bottom: 8px;
  }
}
